<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">

	<insert id="cartInsert">
		INSERT INTO CART
			(CART_NO, USER_ID, PRODUCT_NO, PRODUCT_AMOUNT) 
		VALUES 
			(seq_cart.NEXTVAL, #{userId}, #{productNo}, #{productAmount})
		
	</insert>
	
	<select id="cartList" parameterType="string" resultType="com.flowershop.cart.domain.CartVo">
		SELECT
			C.CART_NO,
			C.USER_ID,
			P.PRODUCT_NO,
			P.PRODUCT_NAME,
			P.PRODUCT_URL,
			C.PRODUCT_AMOUNT,
			P.PRODUCT_PRICE,
			(PRODUCT_PRICE * PRODUCT_AMOUNT) MONEY
				FROM USERS U, PRODUCT P, CART C
					WHERE U.USER_ID = C.USER_ID
					AND P.PRODUCT_NO = C.PRODUCT_NO
					AND C.USER_ID = #{userId}
					 ORDER BY C.CART_NO
	</select>
	
	<select id="sumMoney" parameterType="string" resultType="int">
		SELECT NVL(SUM(PRODUCT_PRICE * PRODUCT_AMOUNT), 0) MONEY
			FROM CART C, PRODUCT P
				WHERE C.PRODUCT_NO = P.PRODUCT_NO
				AND C.USER_ID = #{userId}
	</select>
	
	<update id="cartUpdate" parameterType="com.flowershop.cart.domain.CartVo">
		UPDATE CART
			SET PRODUCT_AMOUNT = #{productAmount}
				WHERE USER_ID= #{userId}
				AND PRODUCT_NO = #{productNo}
	</update>
	
	<select id="countCart" parameterType="com.flowershop.cart.domain.CartVo" resultType="int">
		SELECT COUNT(*)
			FROM CART
				WHERE USER_ID= #{userId}
				AND PRODUCT_NO = #{productNo}
	</select>
	
	<update id="UpdateCount" parameterType="com.flowershop.cart.domain.CartVo">
		UPDATE CART
			SET PRODUCT_AMOUNT = PRODUCT_AMOUNT + #{productAmount}
				WHERE USER_ID= #{userId}
				AND PRODUCT_NO = #{productNo}
	</update>
	
	<delete id="cartListDelete" parameterType="com.flowershop.cart.domain.CartVo">
		DELETE FROM CART WHERE PRODUCT_NO = #{productNo}
	</delete>
</mapper>