<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">

	<insert id="insertComment" parameterType="commentVo">
		insert into board_Comment(board_no, comment_no, comment_start_ref, comment_before_ref, comment_reply_count, comment_lev, comment_seq,
								  comment_content, comment_regdate, comment_modidate, comment_scryn, user_id) 
		values (#{board_no}, comment_no_seq.nextval, comment_no_seq.currval, -1, 0, 0, 0, #{comment_content}, to_char(sysdate, 'YYYY-MM-DD HH:MI'), 
				to_char(sysdate, 'YYYY-MM-DD HH:MI'), #{comment_scryn}, #{user_id})
	</insert>

	<update id="updateComment" parameterType="commentVo">
		update board_Comment set comment_content = #{comment_content}, comment_modidate = to_char(sysdate, 'YYYY-MM-DD HH:MI') where comment_no = #{comment_no}
	</update>
	
	<select id="selectComentList" parameterType="int" resultType="commentVo">
		select * from board_comment where board_no = #{board_no} order by comment_start_ref desc, comment_seq
	</select>
	
	<!-- <select id="getBoardlist" parameterType="java.util.Map" resultType="boardVo">
		<![CDATA[
			select * from (
			select rownum rnum, T.* from (select * from board order by board_start_ref desc, board_seq) 
			T where rownum <= #{endNo}) where rnum >= #{startNo}
		]]>
	</select> -->
	
	<delete id="del_comment" parameterType="int">
		delete from board_comment where comment_no = #{comment_no}
	</delete>
	
	<update id="fix_comment" parameterType="int">
		update board_comment set comment_content = '삭제된 게시글 입니다.', 
						 comment_deldate = to_char(sysdate, 'YYYY-MM-DD HH:MI'), 
		where comment_no = #{comment_no} 
	</update>
	
	<update id="del_comment_count" parameterType="int">
		update board set commentCount = commentCount - 1
		where board_no = #{board_no} 
	</update>
	
	
	
</mapper>