<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="point">
	
	<select id="getPoint" parameterType="String" resultType="Integer" >
	  select user_point from users where user_id = #{user_id}
	</select>

	<insert id="recordPoint" parameterType="hashmap">
		insert into POINT (
				   buy_no, 
                   user_id,
                   point_regdate, 
                   point_yn, 
                   point )
            values(#{buyVo.buy_no}, #{userVo.user_id}, TO_DATE(SYSDATE, 'YYYY/MM/DD HH24:MI:SS'), #{pointVo.point_yn}, #{pointVo.point})
	</insert>
	
	<update id="updatePoint" parameterType="login">
		update users set user_point = #{user_point} where user_id = #{user_id}
	</update>
</mapper>
