<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- XML Mapper을 이용할때, ParameterType, ResultType 패키지명 생략을 위함 -->
	<typeAliases>
		<package name="com.flowershop.domain" />
	</typeAliases>


</configuration>

