@CHARSET "UTF-8";

.board_header th{text-align:center;}

.title{text-align:left;}
.board_no{width:3%; text-align:center;}
.writer{width:10%; text-align:center;}
.regdate{width:15%; text-align:center;}
.viewcnt{width:5%; text-align:center;}